---
title: false
styles: true
---


@font-face {
    font-family: 'Roboto'; /*a name to be used later*/
    src: url('RobotoSlab-VariableFont_wght.ttf'); /*URL to font*/
}

// Typography
$bodytype: (
  font-family: "Roboto",
  regular: 400,
  bold: 700,
  italic: italic,
  cap-height: 0.75
) !default;

$linkColour: #042440 !default;
$hoverColour: #005FFB !default;
$headingColour: #053259 !default;


@import "alembic";

.members_list{

	.members
	{
		width: 40%;
		float: left;
	
	 .members_img img{
		  width: 200px;
		  margin: auto;
		  display: block;
	   }
	  
	  .members_name{
		text-align:center;
		font-weight: bold;
		
	  }
	  .members_comment{
		text-align:center;
		
	  }
	}
	
	&:after {
		content: "";
		display: table;
		clear: both;
	}


}

.member_detail{
	.bio{
		#intro{
		  font-size: 18px;
		  width: 65%;
		  float: right;
		  text-align: justify;
		  display: inline-block;
		}
		#bio_img{
		  display: inline-block;
		  width: 30%;
		  float: left;
		  margin-right: 5%;
		}
	}

}

